.table-pagination{
    background: transparent;

    &-title{
        padding: 27px 30px 0;
        line-height: 1; 
        font-size: 20px;
        color: #252422;
        font-weight: 600;
    }

    &-top{
        height: 60px;
        line-height: 60px;
        padding: 0 32px;
        display: flex;
        justify-content: space-between;

        .ivu-input{
            height: 38px;
            font-size: 14px;
        }

        .top-input{
            width: 210px;
            margin-right: 20px;
        }

        .top-button{
            height: 38px;
            background-color: #6BB3C7;
            border: none;
            margin-right: 20px;
            font-size: 16px;
            padding: 0 20px;

            &>.ivu-icon{
                line-height: 1;
                font-size: 25px;
            }

            &>span{
                font-size: 16px;
                color: #fff;
                letter-spacing: 3px;
            }
        }
    }

    &-content{
        
    }

    &-footer{
        text-align: center;
        padding-top: 40px;
    }
}