{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import"
    // [
    //   "import",
    //   {
    //     "libraryName": "view-design",
    //     "libraryDirectory": "src/components"
    //   }
    // ]
  ],
  // "comments": false, // 会影响到 webpackChunkName
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
