@import "./../../assets/less/var.less";

.menu {
	width: 241px;
	background-color: @menuBackground;
	overflow: hidden;
	flex: none;

	.ivu-menu {
		overflow-x: hidden;
	}

	.level-menu {
	}

	.sigle-menu:first-child {
		margin-top: 20px;
	}

	.level-menu:first-child {
		margin-top: 20px;
	}

	.ivu-menu-dark {
		background: @menuBackground;
	}

	.ivu-menu-dark.ivu-menu-vertical {
		.ivu-menu-submenu {
			.ivu-menu-item-active {
				background: @menuBackgroundActive !important;
				color: @primaryColor;

				// &:hover{
				//   background:rgba(244,243,239,1) !important;
				//   color: #F8B16B;
				// }
			}
		}

		.ivu-menu-opened {
			background-color: transparent;

			.ivu-menu-submenu-title {
				background: @menuBackground;
			}
		}

		.ivu-menu-submenu-title {
			padding-left: 37px;
			font-size: 16px;
			// color: #D1D0CE;

			&:hover {
				background: @menuBackgroundActive;
				color: #fff;
			}
		}

		.ivu-menu-item {
			line-height: 26px;
			padding: 10px 0 10px 72px !important;
			font-size: 16px;
			color: #d1d0ce;
			// margin-right: 31px;
			&.sigle-menu {
				padding-left: 43px !important;
			}

			&:hover {
				background: @menuBackgroundActive;
				color: #fff;
			}
		}

		.single-node,
		.sigle-menu {

			&.ivu-menu-item-active {
				background: @menuBackgroundActive !important;
				color: @primaryColor;

				// &:hover{
				//   background:rgba(244,243,239,1) !important;
				//   color: #F8B16B;
				// }
			}

			&.ivu-menu-item {
				font-size: 16px;
				padding-left: 37px !important;
			}
		}
	}

	.menu-icon {
		display: inline-block;
		font-size: 16px;
		margin-right: 10px;
		vertical-align: middle;
		margin-top: -5px;
	}
}
