
.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-bottom: 50px;
    float: left;
    background-color: #455484;
    .logo {
      height: 86px;
      padding: 20px;
      border-bottom: 1px solid #cfcfca;
    }
    .ivu-menu .ivu-menu {
      padding-left: 14px;
    }
    .ivu-menu-dark.ivu-menu-vertical
      .ivu-menu-item-active:not(.ivu-menu-submenu) {
      background: #455484;
    }
    .ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
      background: #455484;
    }
    .ivu-menu-dark.ivu-menu-vertical
      .ivu-menu-item-active:not(.ivu-menu-submenu) {
      color: #f8b16b;
      // background: #f4f3ef;
      &::after {
        position: absolute;
        left: -14px;
        top: 8px;
        display: block;
        content: "";
        width: 210px;
        height: 30px;
        border-radius: 0px 20px 20px 0px;
        background: #f4f3ef;
        z-index: -1;
      }
    }
    .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active {
      color: #f8b16b;
      background: #455484 !important;
      &:hover {
        background: none !important;
        color: #f8b16b;
      }
    }
  }
  .menu-list img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
  }