.main-content {
    background: #f4f3ef;
    height: 100%;

    .content-box {
        width: 100%;
        height: calc(~"100% - 70px");
        overflow: auto;
        display: flex;
    }

    .bread {
        padding: 20px;
    }

    .content-padding {
        background: #fff;
        height: calc(~"100% - 32px");
        margin: 16px;
        flex: 1;
        overflow: auto;
        position: relative;

        .wrapper{
            // padding: 20px 20px 0;
        }
    }
}