.address-plan-subnet{
    .table-pagination-top{
        align-items: center;
    }
    
    .top-left{
        display: flex;

        .ivu-select{
            width: 170px;
            margin-right: 20px;
        }
    }
}