@import "./../../assets/less/var.less";

.header {
	position: relative;
	height: @headerH;
	box-sizing: border-box;

	.header-inner {
		position: relative;
		background: #fff;
		width: 100%;
		box-sizing: border-box;
		z-index: 10;
	}

	.logo {
    display: inline-flex;
    align-items: center;
		width: @menuWidth;
		vertical-align: middle;
		background-color: @menuBackgroundActive;
		border-bottom: 1px solid #556494;

		.logo-image {
			flex: 1;
			text-align: center;
    }
    
		img {
			vertical-align: middle;
		}

		h1 {
			display: inline-block;
			width: 185px;
			text-align: center;
			font-size: 18px;
			color: #fff;
			line-height: 20px;
			padding: 20px;
			border-left: 1px solid rgba(255, 255, 255, 0.1);
		}
	}

	.logo-text {
		display: inline-block;
		vertical-align: middle;
		padding: 4px 0;
	}

	.main-menu {
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;

		.ivu-menu-horizontal.ivu-menu-light:after {
			display: none;
		}
		.ivu-menu-item {
			border-width: 4px;
		}

		.ivu-menu-item {
			font-size: 16px;
			font-weight: bold;
		}
	}

	.user {
		font-size: 16px;
		float: right;
		margin-top: 12px;
		margin-right: 40px;

		.avatar {
			height: 36px;
			height: 36px;
			padding-right: 20px;
			vertical-align: middle;
		}
	}
}
