
.header {
    position: relative;
    height: 80px;
    box-sizing: border-box;
  
    .header-inner {
      position: relative;
      background: #fff;
      width: 100%;
      box-sizing: border-box;
      z-index: 10;
    }

    .logo {
      display: inline-block;
      vertical-align: middle;
      padding: 10px 92px 0 36px;
      
      img{
        height: 60px;
      }
    }

    .logo-text{
      display: inline-block;
      vertical-align: middle;
      padding: 14px 0;
    }
  
    .user {
      font-size: 16px;
      float: right;
      margin-top: 20px;
      margin-right: 40px;

      .avatar {
        height: 36px;
        height: 36px;
        padding-right: 20px;
        vertical-align: middle;
      }
    }
  }