
.header {
    position: relative;
    height: 70px;
    box-sizing: border-box;
  
    .header-inner {
      position: relative;
      background: #fff;
      width: 100%;
      box-sizing: border-box;
      z-index: 10;
    }

    .logo {
      display: inline-block;
      vertical-align: middle;
      padding: 13px 101px 0 34px;
      background-color: #455484;
      border-bottom: 1px solid #556494;
      
      img{
        height: 50px;
      }
    }

    .logo-text{
      display: inline-block;
      vertical-align: middle;
      padding: 4px 0;
    }
  
    .user {
      font-size: 16px;
      float: right;
      margin-top: 15px;
      margin-right: 40px;

      .avatar {
        height: 36px;
        height: 36px;
        padding-right: 20px;
        vertical-align: middle;
      }
    }
  }