@font-face {
  font-family: 'iconfont';
  /* project id 1756062 */
  src        : url('//at.alicdn.com/t/font_1756062_zn0sevk245s.eot');
  src        : url('//at.alicdn.com/t/font_1756062_zn0sevk245s.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1756062_zn0sevk245s.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1756062_zn0sevk245s.woff') format('woff'),
    url('//at.alicdn.com/t/font_1756062_zn0sevk245s.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1756062_zn0sevk245s.svg#iconfont') format('svg');
}

[class^="icon-"],
[class*=" icon-"],
.iconfont {
  font-family            : "iconfont" !important;
  font-size              : 16px;
  font-style             : normal;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-avatar:before {
  content: "\e617";
}

.icon-authority:before {
  content: "\e615";
}

.icon-node:before {
  content: "\e602";
}

.icon-access-control:before {
  content: "\e612";
}

.icon-recursive:before {
  content: "\e611";
}

.icon-address:before {
  content: "\e610";
}

.icon-forward:before {
  content: "\e60a";
}

.icon-safe:before {
  content: "\e60e";
}

.icon-dhcp:before {
  content: "\e601";
}

.icon-dns:before {
  content: "\e604";
}

.icon-ipam:before {
  content: "\e609";
}