// 头部
@headerW: 1762px;
@headerH: 60px;

// 菜单
@menuW: 240px;

// 主体
@mainW: 1363px;


// 颜色
@mainColor: #4796FF; //主题颜色
@white: white;
@activeColor: #2879E5; //header active颜色
@bgColor: #F5F5F5;
@lineColor: #D7D7D7; //分割线颜色
@lineColor2: #eee; //分割线颜色2
@menuActive: #66615B; //菜单active颜色
@footerBgColor: #1E1A28;
@aColor: #4594FB;
@theadBgColor: #F7F2EF;
@errColor: #ed4014;
@warningColor: #FF7D1B;
@disColor: #aaa; //禁用颜色
@black: #022123;


// 字体
@f14: 14px;
@f16: 16px;
@f18: 18px;
@f20: 20px;
@f22: 22px;
@f24: 24px;
@f28: 28px;
@f30: 30px;
